<ion-view view-title="ME" cache-view="false" class="Me">

    <ion-nav-buttons side="right">
        <button class="button" ng-click="toSettings()">
            <i class="icon ion-ios-gear-outline"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>

    <div class="me-tabs">
        <div class="link" ng-click="toOrders()">
            <i class="icon ion-cube"></i>
            <p>Orders ({{orderLength}})</p>
        </div>
        <div class="link" ng-click="toBrands()">
            <i class="icon ion-ios-checkmark-outline"></i>
            <p>Brands ({{likedBrands.length}})</p>
        </div>
    </div>

      <div class="like-list">
          <p>My loves ({{likedProducts.length}})</p>
          <showcase products="likedProducts"></showcase>
      </div>

    </ion-content>
</ion-view>
