<ion-view view-title="Brands" class="Me">

    <ion-content>
        <!--<div class="brand-item" ng-repeat="brand in likedBrands">


          <div class="img" ng-click="goToBrand(brand.id)">
            <img src="{{brand.icon}}" width="100%" height="100%" alt="" />
          </div>

            <div class="text" ng-click="goToBrand(brand.id)">
                <p>{{brand.name}}</p>
                <div>
                  <span ng-repeat="category in brand.categories track by $index">
                    <span>{{category.name}}</span>
                    <span ng-if="$index !== brand.categories.length - 1">,</span>
                  </span>
                </div>
            </div>

            <div class="follow-button" ng-if="brand.isLiked" ng-click="follow(brand, $event)">
                <i class="icon ion-ios-checkmark"></i>
                <p>Following</p>
            </div>

            <div class="follow-button" ng-if="! brand.isLiked" ng-click="follow(brand, $event)">
                <i class="ion-ios-plus-outline"></i>
                <p>Follow</p>
            </div>

        </div>-->
      <small-follow-brand brands="likedBrands"></small-follow-brand>

    </ion-content>

</ion-view>
