<ion-view view-title="ME" class="Me">

    <ion-nav-buttons side="right">
        <button class="button" ng-click="doSomething()">
            <i class="icon ion-android-settings"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="me-tabs">
            <div class="link" ng-click="toOrders()">
                Orders(0)
            </div>
            <div class="link" ng-click="toBrands()">
                Brands(5)
            </div>
        </div>

        <div class="like-list">

        </div>

    </ion-content>
</ion-view>
