<ion-view view-title="Settings" class="Settings">

    <ion-content>

        <div class="label">Promotion</div>
        <div class="link">Promo codes</div>
        <div class="label">Profile</div>
        <div class="link">Show me</div>
        <div class="label">About</div>
        <div class="link">Feedback</div>
        <div class="link">Contact us</div>
        <div class="link">FAQ</div>
        <div class="link">Shipping + Returns</div>
        <div class="link">Privacy Policy</div>
        <div class="link">Terms of Service</div>
        <div class="link">Surprise me!</div>


        <div class="logout">
            <button>Sign out</button>
        </div>


    </ion-content>

</ion-view>
