.platform-android {

  .body-product {

    .bar-header {
      height: 60px;
    }
    .product-tab .product-slider {
      margin-top: 6em;
    }

  }

  .follow-nav-button {
    .follow {
      top: 43px;
    }
  }

}
