/*.platform-android {*/

  /*.platform-android6 {*/

    .Brand-subtab {
      .slide .details .details-under-picture .follow i {
          font-size: 2em;
          line-height: 2em;
          height: 2em;
          display: inline-block;
          vertical-align: middle;
      }
      .container .button-main {
        height: 2em;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .more-info-popover {
      font-size: 1.2em;
    }

  /*}*/

/*}*/
