
//Login page
.Login {
  position: relative;
  height: 100%;

  .main-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 16em;
    margin: auto;
  }

  div.footer {
    position: absolute;
    bottom: 10px;
    //top: 33em;
    left: 0;
    right: 0;
    text-align: center;

    button {
      width: 95%;

      &.join {
        margin-bottom: 1.5em;
      }
    }

    p:not(.terms) {
      margin: 24px 0;

      span {
        text-decoration: underline;
      }

    }

    span.guest-btn {
      color: #068DB3;
      text-decoration: none !important;
    }
  }

}

  //Sign-in popover in showcase and login page
  .signin-popover {
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width: 100%;
    opacity: 1;
    background: #fff;
    margin: 0!important;
    text-align: center;

    span.guest-btn {
      color: #068DB3;
      text-decoration: none !important;
    }

    div.popover-arrow {
      display: none;
    }

    div.panel {
      height: 4em;
      background: #fff;
      border-bottom: 2px solid #ececec;
      position: relative;
      line-height: 4em;


      button.close-btn {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        top: 0;
        bottom: 0;
        left: 15px;
        z-index: 5;
        margin: auto;
        position: absolute;

        &:before {
          font-size: 18px;
        }
      }
    }

    div.list {
      margin-bottom: 10px;

      label.item {
        border-bottom: 1px solid #ddd;
      }
    }

    .forgot, .sign {
      width: 90%;
      margin: auto;
      margin-bottom: 12px;
    }

    .forgot {
      text-decoration: underline;
    }

    .recover {
      width: 90%;
      margin: auto;
    }
  }

  .signun-popover {
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width: 100%;
    opacity: 1;
    background: #fff;
    margin: 0!important;
    text-align: center;

    div.popover-arrow {
      display: none;
    }

    div.nav-panel {
      height: 4em;
      line-height: 4em;
      background: #fff;
      border-bottom: 2px solid #ececec;
      position: relative;


      button.close-btn {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        top: 0;
        bottom: 0;
        left: 15px;
        z-index: 5;
        margin: auto;
        position: absolute;

        &:before {
          font-size: 18px;
        }
      }

      span.title {
        font-size: 18px;
      }
    }

    div.signun-list {
      border-bottom: 1px solid #ddd;

      .item {
        border-bottom: 1px solid #ddd;
      }
    }

    span.info {
      text-align: left;
      display: inline-block;
      width: 90%;
    }

    div.footer {
      margin-top: 1em;

      button {
        width: 95%;
      }

      .join + p {
        margin: 15px 0;
      }

      p.terms {
        margin: 27px 0 10px;

        span {
          text-decoration: underline;
        }
      }
    }

  }

