
 p.terms {
    margin: 27px 3% 10px;

    a {
      text-decoration: underline;
      color: #000;
    }
}

//Login page
.Login {
  position: relative;
  height: 100%;

  .main-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 16em;
    margin: auto;
  }

  div.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    max-height: 230px;

    button {
      width: 95%;
      font-size: 1em;

      &.join {
        margin-bottom: 1.5em;
      }

      i {
        float: left;
        font-size: 1.5em;
      }
    }

    p:not(.terms) {
      margin: 24px 0;

      span {
        text-decoration: underline;
      }

    }

    span.guest-btn {
      color: #068DB3;
      text-decoration: none !important;
    }
  }

  .bannerSlider {
    position: initial;

    .swiper-pagination {
      height: calc(230px + 30px);
      z-index: 1;
    }
  }

  .sign-in-by {
    position: relative;
  }

}

  //Sign-in popover in showcase and login page
  .signin-popover {
    top:10% !important;
    text-align: center;

    div.list {
      margin-bottom: 10px;

      label.item {
        border-bottom: 1px solid #ddd;
      }
    }

    .forgot, .sign {
      width: 90%;
      margin: auto;
      margin-bottom: 12px;
    }

    .forgot {
      text-decoration: underline;
    }

    .recover {
      width: 90%;
      margin: auto;
    }

  }

  .signup-popover {

    @extend .popover;
    top:10% !important;
    text-align: center;

    div.signun-list {
      border-bottom: 1px solid #ddd;

      .item {
        border-bottom: 1px solid #ddd;
      }
    }

    span.info {
      text-align: left;
      display: inline-block;
      width: 90%;
    }

    div.footer {
      margin-top: 1em;

      button {
        width: 95%;
      }

      .join + p {
        //margin: 15px 0;
      }

      }

    p.terms {
      margin: 5% auto;
      width: 95%;
    }

  }





