.me-tabs {

  font-size: 0;

  .link {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-top: 20px;

    &:first-child {
      border-right: 1px solid #ccc;
    }

    i{
      font-size: 20px;
    }

    p{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

}

.like-list{

  &>p{
    text-align: center;
    padding: 10px;
    font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
  }

}

.contact {

  padding: .5em;
  border: 1px solid #ccc;

  button {
    display: block;
    width: 100%;
    padding: .6em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
  }

}

.brand-item {
  width: 100%;
  padding: 5px;
  font-size: 0;

  .img {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    display: inline-block;

  }

  .text{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 5px 1.5em;
}

    p{
      font-weight: 700;
    }

    span{
      color: #5e6060;
      text-overflow: ellipsis;
    }
  }

  .follow-button{
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-right: 0.5em;
    padding-top: 0.8em;
    font-size: 12px;
    width: 25%;
    position: relative;
    line-height: 4em;

    i{
      font-size: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    p {
      top: 1.7em;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }
  }


.label{
  padding: 10px;
  text-align: left;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 700;

}

.Settings{

  .link{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  .logout {
    margin-top: 50px;
    padding: 10px;

    button{
      display: block;
    width: 100%;
    padding: .6em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    }
  }

  .arrow {
    display: inline-block;
    float: right;
    font-size: 0.8em;

    span {
      text-transform: uppercase;
      font-size: 1.3em;
      padding: 0px 15px;
      color: #464040;
    }
  }

}

/*begin Promo*/
.Promo {

  .container {
    padding: 0px 10px;
  }

  .button {
    text-transform: uppercase;
    background: #928A7E;
    color: #484545;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
    min-height: 40px;
     -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
  }

  .main-button {
    background: #292929;
    color: #fff;

  }

  input[type="text"] {
    background-color: #EAE5DD;
    width: 100%;
    padding: 10px;
    color: #928A7E;
    font-family: inherit;
  }

  .form-head {
    padding: 15px 0px;
    border-top: solid 1px #292929;
    border-bottom: solid 1px #EAE5DD;
    font-weight: 600;
  }

  .form-body {
    padding: 5px;
  }
}
/*end Promo*/

/*begin ShowMe*/
.ShowMe {
  .sex {
    line-height: 65px;
    border-bottom: solid 1px #E0DEDE;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 10px;

    div {
      display: inline-block;
    }

    .chosen {
      float: right;
      font-size: 2em;
      color: #232222;
    }

  }
}
/*end ShowMe*/
