
.main-slider {
  height: 24.5em;
  background: rgba(0, 0, 0, .7);
  text-align: center;

  .slider-slides {
    line-height: 19em;
    .slider-slide {
      line-height: inherit;
      width: 100%;
      height: inherit;
      background: #fff;

      .img {
        width: 100%;
        height: inherit;
        background: url('../img/run.jpg') center center no-repeat;
        background-size: contain;
        &.walk {
          background: url('../img/walk.jpg') center center no-repeat;
          background-size: contain;
        }
        &.cas {
          background: url('../img/cas.jpg') center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.liked-cat {
  width: 100%;
  text-align: center;

  .liked-item {
    width: 	33.3333%;
    text-align: center;
    display: inline-block;
    background-color: #fff;

    &.most {
      box-sizing: border-box;

      div.img {
        border-left: 1px solid rgba(218, 213, 213, 0.78);
        border-right: 1px solid rgba(218, 213, 213, 0.78);
        background: url('../img/liked-2.png') center center no-repeat;
        background-size: 50%;
      }
    }

    &.sale {
      div.img {
        background: url('../img/liked-3.png') center center no-repeat;
        background-size: 35%;
      }
    }

    div.img {
      margin-top: 1em;
      background: url('../img/liked-1.png') center center no-repeat;
      background-size: 50%;
      width: 100%;
      height: 6.3em;
      display: inline-block;
    }

    p {
      text-align: center;
    }
  }

}


.recommend-slider {
  width: 100%;
  background-color: #fff;
  margin: .6em 0;
  position: relative;

  .slider-header {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em;

    &.red {
      color: red;
    }

    &.blue {
      color: #387EF5;
    }

    i:before {
      font-size: 15px;
    }
  }

  .subheader {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    margin: auto;
    font-style: italic;
    text-transform: capitalize;
    color: #3A3838;;
  }

  .postheader {
    text-transform: none;
    padding: 1em;
  }

  .line {
    width: 25%;
    border-top: solid 1px #D0CDCD;
    margin: auto;


  }

  .scrolling {
    height: 15em;
    text-align: left;

    div.thing {
      height: 100%;
      width: 10em;
      display: inline-block;
      margin: 0 0 0 1em;
      text-align: center;
      float: left;

      &:last-child {
        margin-right: 1em;
      }

      div.holder {
        position: relative;

        .img {
          display: inline-block;
          background-color: #eee;
          //background: url("../img/slider1.jpg") center center no-repeat;
          background-size: 100% 100%;
          width: 10em;
          height: 10em;
        }

        div.img {
          position: relative;
          border: 1px solid black;
          background: #fff;

          div.center {
            position: absolute;
            width: 50%;
            height: 3em;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;


            span.all {
              padding-bottom: 2px;
              border-bottom: 1px solid #ddd;
            }

            span:not(.all) {
              color: #bbb;
              margin-top: 1px;
              display: inline-block;
            }
          }
        }



        div.ribbon {
          position: absolute;
          bottom: .5em;
          left: -4px;
          right: 0;
          display: inline-block;
          text-align: left;

          h2 {
            display: inline-block;
            padding: 0 13px 0 16px;
            position: relative;
            font-size: 11px;
            color: #ffffff;
            height: 2.4em;
            line-height: 2.65em;
            background-color: #000;

            &:before {
              content: ' ';
              position: absolute;
              width: 15px;
              top: 4px;
              height: 15px;
              right: -8px;
              background-color: #000;
              -webkit-transform: rotateZ(45deg);
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 0px;
              top: 100%;
              border-width: 3px 3px;
              border-style: solid;
              border-color: #000 #000 transparent transparent;
            }
          }
        }
      }


      p {
        text-align: center;
        margin: -1px 0;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10em;

        &.brand {
          font-weight: 600;
        }
        &.name {}

        &.cost {

          .price {
            color: #9C9292;

            &.old {
              font-size: 13px;
              text-decoration: line-through;
            }
          }

          span.discount {
            color: red;
            margin-left: .3em;
          }
        }
      }
    }
  }
}


.liked-slider {
  width: 100%;
  background-color: #fff;
  margin: .6em 0;
  position: relative;

  .slider-header {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &.red {
      color: red;
    }

    i:before {
      font-size: 15px;
    }
  }

  .subheader {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    margin: auto;
    font-style: italic;
    text-transform: capitalize;
    color: #595959;
  }

  .postheader {
    text-transform: none;
    padding: 15px;
  }

  .scrolling {
    height: 15em;
    text-align: left;

    div.thing {
      height: 100%;
      width: 10em;
      display: inline-block;
      margin: 0 0 0 1em;
      text-align: center;
      float: left;

      &:last-child {
        margin-right: 1em;
      }

      div.holder {
        position: relative;

        .img {
          display: inline-block;
          background-color: #eee;
          //background: url("../img/slider1.jpg") center center no-repeat;
          background-size: 100% 100%;
          width: 10em;
          height: 10em;
        }

        div.img {
          position: relative;
          border: 1px solid black;
          background: #fff;

          div.center {
            position: absolute;
            width: 50%;
            height: 3em;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;


            span.all {
              padding-bottom: 2px;
              border-bottom: 1px solid #ddd;
            }

            span:not(.all) {
              color: #bbb;
              margin-top: 1px;
              display: inline-block;
            }
          }
        }



        div.ribbon {
          position: absolute;
          bottom: .5em;
          left: -4px;
          right: 0;
          display: inline-block;
          text-align: left;

          h2 {
            display: inline-block;
            padding: 0 13px 0 16px;
            position: relative;
            font-size: 11px;
            color: #ffffff;
            height: 2.4em;
            line-height: 2.65em;
            background-color: #000;

            &:before {
              content: ' ';
              position: absolute;
              width: 15px;
              top: 4px;
              height: 15px;
              right: -8px;
              background-color: #000;
              -webkit-transform: rotateZ(45deg);
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 0px;
              top: 100%;
              border-width: 3px 3px;
              border-style: solid;
              border-color: #000 #000 transparent transparent;
            }
          }
        }
      }


      p {
        text-align: center;
        margin: -1px 0;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10em;

        &.brand {
          font-weight: 600;
        }
        &.name {}

        &.cost {

          .price {
            color: #9E9B9B;

            &.old {
              font-size: 13px;
              text-decoration: line-through;
            }
          }

          span.discount {
            color: red;
            margin-left: .3em;
          }
        }
      }
    }
  }
}

.gallerySlider {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: .6em 0;
  padding: 0 1em 1em;

  .slider-header {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em;

    &.red {
      color: red;
    }

    i:before {
      font-size: 15px;
    }
  }

  .swiper-container {
    width:  100%;
    height: 11em;

    .swiper-wrapper {

      .swiper-slide {
        width: 70%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

}


.bigSlider {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: .6em 0;
  padding: 0 1em 1em;

  .swiper-container {
    width:  100%;
    height: 22em;
    position: initial;

    .swiper-wrapper {

      .swiper-slide {
        width: 100%;

        img {
          height: auto;
          width: auto;
          padding: 2em;
        }
      }
    }
  }

}

.tile-slider {
  width: 100%;
  background-color: #fff;
  margin-bottom: .6em;
  padding-bottom: 1em;

  .slider-header {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em;



    &.red {
      color: red;
    }

    i:before {
      font-size: 15px;
    }
  }

  .slider-header + p {
    font-style: italic;
    color: #ddd;
    margin-top: -1.5em;
  }


  div.wrapper {
    height: 27em;
    text-align: center ;

    .thing {
      height: 32%;
      width: 30%;
      display: inline-block;
      margin: 0 .1em 0 .1em;
      overflow: hidden;
      background-color: #eee;
      background-size: 100% 100%;

      div.holder {
        position: relative;
        width: 100%;
        height:100%;

        .img {
          display: inline-block;
          background-color: #eee;
          //background: url("../img/slider1.jpg") center center no-repeat;
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
        }

        div.img {
          position: relative;
          border: 1px solid black;
          background: #fff;

          div.center {
            position: absolute;
            width: 50%;
            height: 3em;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;


            span.all {
              padding-bottom: 2px;
              border-bottom: 1px solid #ddd;
            }

            span:not(.all) {
              color: #bbb;
              margin-top: 1px;
              display: inline-block;
            }
          }
        }



        div.ribbon {
          position: absolute;
          bottom: .5em;
          left: -4px;
          right: 0;
          display: inline-block;
          text-align: left;

          h2 {
            display: inline-block;
            padding: 0 13px 0 16px;
            position: relative;
            font-size: 11px;
            color: #ffffff;
            height: 2.4em;
            line-height: 2.65em;
            background-color: #000;

            &:before {
              content: ' ';
              position: absolute;
              width: 15px;
              top: 4px;
              height: 15px;
              right: -8px;
              background-color: #000;
              -webkit-transform: rotateZ(45deg);
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 0px;
              top: 100%;
              border-width: 3px 3px;
              border-style: solid;
              border-color: #000 #000 transparent transparent;
            }
          }
        }
      }

    }

    .stretch {
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0
    }


  }

}

.thematic-slider {
  width: 100%;
  background-color: #fff;
  margin-bottom: .6em;
  padding-bottom: 1em;
  position: relative;

  .slider-header {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em;



    &.red {
      color: red;
    }

    i:before {
      font-size: 15px;
    }
  }

  .thematic-container {
    height: 22em;
    position: relative;

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-slide {
        width: 94%;
        height: 19.5em;
        border: 1px solid rgba(221, 221, 221, 0.58);
        border-top: none;

        img {
          height: 11em;
          width: 100%;
        }

        p.suptitle {
          margin: 0;
          color: #9E9B9B;
          letter-spacing: 2px;
          font-size: 12px;
          font-weight: 700;
        }

        p.title {
          font-size: 21px;
          font-weight: 600;
          margin-bottom: 7px;
          color: #000000;
        }

        p.subtitle {
          font-size: 14px;
          color: #656363;
          letter-spacing: .5px;
          margin: 0;

          &:after {
            content: "";
            width: 40%;
            display: block;
            margin: 7px auto;
            height: 1px;
            background: #EFE9E9;
          }
        }

        p.footer {
          color: #CAC8C8;
        }
      }
  }
}

.category-content {
  .by-cat-btn {
    margin: .6em;
    width: 90%;
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.33);
  }
}

.category-menu {
  text-align: left;
  .item {
    i.icon {
      &:before {
        font-size: 16px;
      }
    }
  }

  .item:first-child {
    font-weight: 600;
    margin-bottom: .5em;
  }

  .item:nth-child(2) {
    font-weight: 600;
  }
  .item:last-child {
    color: red;

    i.icon {
      color: #000;
    }
  }
}

.category-popover {
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width: 100%;
  opacity: 1;
  background: rgb(228, 228, 228);
  margin: 0!important;

  div.popover-arrow {
    display: none;
  }

  button.close-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    left:15px;
    z-index: 5;
    position: absolute;
  }

  ul.category-list {
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 50px 0;

    li.cat-item {
      text-align: center;
      font-size: 30px;
      height: 2em;
      line-height: 2em;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
}

.promo-popover {
  top:20%;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width: 100%;
  opacity: 1;
  margin: 0!important;

  div.popover-arrow {
    display: none;
  }

  button.close-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    left:15px;
    z-index: 5;
    position: absolute;
  }

  .button {
    text--webkit-transform: uppercase;
    background: #928A7E;
    color: #484545;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
    min-height: 40px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  }

  .main-button {
    background: #292929;
    color: #fff;
  }

  input[type="text"] {
    background-color: #EAE5DD;
    width: 100%;
    padding: 10px;
    color: #928A7E;
    font-family: inherit;
  }

  .container {
    padding: 0 10px;

    .form-head {
      padding: 15px 0px;
      border-top: solid 1px #292929;
      border-bottom: solid 1px #EAE5DD;
      font-weight: 600;

      div {
        display: inline-block;
      }

      .arrow {
        display: inline-block;
        float: right;
        font-size: 0.8em;
      }
    }

    .form-body {
      padding: 5px;
    }
  }

}


// Product container
.product-container {
  background: #fff;
  border-bottom: 1px solid black;

  .slider {
    height: 23em;

    .slider-slides {
      line-height: 19em;
      .slider-slide {
        line-height: inherit;
        width: 100%;
        height: inherit;
        background: #fff;

        .img {
          width: 100%;
          height: inherit;
          background: url('../img/run.jpg') center center no-repeat;
          background-size: contain;
          &.walk {
            background: url('../img/walk.jpg') center center no-repeat;
            background-size: contain;
          }
          &.cas {
            background: url('../img/cas.jpg') center center no-repeat;
            background-size: contain;
          }
        }
      }
    }

  }

  .about {
    height: 4em;
    text-align: center;
    border-bottom: 1px solid black;
    position: relative;

    .detail-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 14px;
      height: 32%;

     .ion-plus-round {
        font-size: 13px;
      }
    }
  }

  div.manage {
    height: 4em ;
    line-height: 4em;
    text-align: center;

    button {
      margin: auto;
    }
  }
}


// Showcase with products
.case-item {

  width: 48%;
  margin: 1%;


  .items-list {
    width: 100%;
  }
}

  .showcase:nth-child(2n+1) {
    float: left;
  }

  .showcase:nth-child(2n) {
    float: right;
  }

  // Popover in showcase
  .filter-popover {
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width: 100%;
    opacity: 1;
    background: rgb(228, 228, 228);
    margin: 0!important;

    div.popover-arrow {
      display: none;
    }

    div.nav-panel {
      height: 3.8em;
      text-align: center;
      line-height: 3.8em;
      position: relative;
      border-bottom: 1px solid grey;
      background: #fff;

      button.close-btn {
        width: 20px;
        height: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        left: 4px;

        &:before {
          font-size: 24px;
        }
      }

      span.title {
        font-size: 20px;
      }

      span.reset {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 8px;
        font-size: 10px;
      }
    }

    div.body {
      position: absolute;
      top: 3.8em;
      bottom: 4em;
      background: #fff;
      width: 100%;
      border-bottom: 2px solid grey;

      .nav {
        display: inline-block;
        width: 35%;
        height: 100%;
        background: lightgrey;

        p {
          text-transform: uppercase;
          color: #545353;
          line-height: 3.5em;
          margin: 0;
          font-size: 0.9em;
          padding: 0 1em;
        }

        p.chosen {
          background: white;
          color: #000;
        }
      }

      .content {
        display: inline-block;
        width: 60%;
        vertical-align: top;
        position: relative;
        height: 100%;


        .block {
          margin: 0;
          line-height: 3em;
          border-bottom: solid 1px lightgrey;
        }

        .main {
          text-transform: uppercase;
        }

        .chosen {
          color: #387EF5;
        }
      }

    }

    div.footer {
      position: absolute;
      height: 4em;
      bottom: 0;
      background: #fff;
      width: 100%;
      text-align: center;
      padding: 2%;

      button.button {
        width: 100%;
        height: 100%;
        min-height: inherit;
      }
    }

  }

  // Popover in showcase
  .sort-popover {
    top: initial;
    left:0;
    right:0;
    bottom:0;
    height: initial;
    width: 100%;
    opacity: 1;
    background: rgb(228, 228, 228);
    margin: 0!important;

    ul.list {
      margin: 0;
    }

    div.popover-arrow {
      display: none;
    }

    div.nav-panel {
      height: 3em;
      text-align: center;
      line-height: 3em;
      position: relative;
      border-bottom: 1px solid grey;
      background: #fff;

      button.close-btn {
        width: 20px;
        height: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        left: 4px;

        &:before {
          font-size: 24px;
        }
      }

      span.title {
        font-size: 20px;
      }

    }


  }

  // Product in showcase
  .case-item {
    width: 48%;
    margin: 1%;
    float: left;
    text-align: center;
    border-bottom: 1px solid rgba(230, 221, 221, 0.87);

    &:nth-child(2n+3){
      clear: both;
    }

    div.img {
      display: inline-block;
      height: 12em;
      width: 95%;
      background-color: #eee;
      //background: url("../img/slider1.jpg") center center no-repeat;
      background-size: 100% 100%;
      position: relative;

      .button-like, .button-empty-like {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
        padding: 10px;
      }

       .button-like {
          color: #387EF5;
       }

       .button-empty-like {
         color: #E6E1E1;
       }

    }

    span {
      display: block;

      &.mark {}
      &.title {}
      &.cost {}
    }
  }


// Header with join button
.join-header {
  height: 12em;
  background: url("../img/bg2.jpg") center center no-repeat;
  background-size: cover;
  padding: 1.2em 1em 1.5em;
}

p.title {
  font-weight: 700;
  margin-bottom: .2em;
}

button.join {
  width: 90%;
}


.brand-follow {
 @extend .liked-slider;

  .content .brand-descr {
    width: 60% !important;
  }

  .brand-new-items {
    width: 15%;
    text-align: center;
    float: right;

    i {
      font-size: 2em;
    }
  }

}

.brand-popover-item {
  @extend .brand-popover;

  font-size: 0.83em;
  padding: 0 1em;

  .product-slider {
    border-bottom: solid 1px #D2CECE;
    padding-bottom: 1em;
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    line-height: 3em;
  }

  .line {
    border-bottom: solid 1px #D2CECE;
    width: 20%;
    margin: 0 auto 1em auto;
  }

}

.brand-list {
  @extend .liked-slider;

  .scrolling, .brand-follow .scrolling, .brand-list .scrolling {
    height: 4.5em;
    margin: 1em 0;
  }

  .scrolling div.thing div.holder .img, .scrolling div.thing div.holder, .scrolling div.thing {
    width: 4.5em ;
    height: 4.5em;
  }

  .scrolling div.thing {
     margin: 0 0 0 0.5em;
   }

  .scrolling div.thing div.holder div.img {
      border: none;
    }


  .holder {
    border-radius: 100%;
    overflow: hidden;
    border: solid 1px #BBBABA;
  }

  .more {
    font-size: 3em;
  }
}

.brand-picture2 {
  @extend .brand-picture;

  padding: 0.5em;

  .name {
    opacity: 1;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 50%;
    margin: auto;
  }

}


.brand-follow-page {

  font-size: 0.85em;

  &.search-panel {
    .item {
      margin-top: 0.2em !important;
    }

    .button {
      padding-top: 3px;
    }
  }

}


.more-info-popover {
  @extend .category-popover;

  $mainTextColor: #000;
  $otherTextColor: #5B5E61;

  background: #fff;
  opacity: 0.95;
  text-align: center;

  .container {

     padding: 2em;

    .close-btn, .description {
      color:  $otherTextColor;
    }

    .close-btn {
      text-align: left;
      font-size: 1.5em;
    }

    .block-line {
      line-height: 3em;
    }

    .button {
      background: #000;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      min-height: 35px;

      i {
        font-size: 2em;
        vertical-align: middle;
        padding-right: 0.5em;
      }

    }

    .connect {
      border-top: solid 1px $otherTextColor;
      border-bottom: solid 1px $otherTextColor;
      margin: 0 -2em;

        .icon {
          font-size: 2em;
          padding: 0 0.5em;
        }
    }

    .update {
      .description {
        line-height: 1em;
      }
    }
  }
}

.basket-popover {
  @extend .popover;

  top: 26%;
  height: 500px;

  &.chose-type {
    background: #F3F0F0 !important;
  }

  .nav-panel {
    height: 2em;
    line-height: 2em;
    background: #CCBF78;
    border-top: solid 2px #E5E5E5;
    color: #fff;
    text-align: center;
  }

  .main-title, .details {
    display: inline-block;
    vertical-align: top;
  }

  .main-title {
    width: 45%;
  }

  .details {
    width: 50%;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.5em;
  }

  .content {
    padding: 1em;
    border-bottom: solid 1px #E5E5E5;

      .plus-icon {
        font-size: 1.3em;
        padding-left: 0.5em;
      }
  }

   .comment {
     text-align: center;
     font-size: 0.9em;
     padding: 0.5em;
     border-bottom: solid 1px #E5E5E5;
   }

   .btn-done {
    background: #131313;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-height: 1em;
    height: 3.1em;
    border-radius: 0;
  }

}

.product-option {

  text-align: center;

  .size {
    display: inline-block;
    margin: 0.1em;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background: #000;
    opacity: 1;
    color: #ffffff;
    line-height: 90px;
    text-align: center;
    font-size: 30px;
    }
}

.fields {
  .btn-done {
    background: #131313;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-height: 1em;
    height: 3em;
  }

  input[type=text] {
    height: 2.5em;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
    border: 0;
    display: inline-block;
    vertical-align: top;
  }


}


.address-fields {

  background: inherit;
  padding: 0.5em;

  @extend .fields;

  input.error-field {
    border: solid 1px red;
  }

  input.zip, input.build {
    width: 40%;
  }

  input.other {
    width: 32%;
  }

  input.city, input.street {
    width: 58%;
    background: #fff;
  }

  input.state {
    width: 37%;
  }

  .content {
    p {
      margin: 0;
    }

    .mark {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      float: right;
    }

    .address {
      width: 60%;
      display: inline-block;
    }

  }

}


.payment {
  text-align: center;
  padding: 1em;

  .payment-option {
    border: solid 1px black;
    margin: 0 1em;
    font-size: 1.5em;
    span {
      font-size: 0.8em;
    }
  }

  .payment-fields {
    text-align: left;
    position: absolute;
    top: 19%;
    left: 1em;
    right: 1em;
    margin: auto;
    background: #F3F0F0;


    @extend .fields;

    input.cvv {
      width: 40%;
    }

    input.data {
      width: 50%;
      float: right;
    }

    .form {
      border: solid 1px #D2CECE;
      padding: 1em;
    }

    .close-btn {
      margin-bottom: 1em;
    }
  }
}

.shipping-fields {
  @extend .fields;

  .content {
    padding: 1em;
  }

  .content * {
    padding: 0.2em;
  }

  .btn-done {
    margin: 0 1em;
    width: calc(100% - 2em);
  }
}


.tab-alert {

  .title-block {
    text-align: center;
    margin: 7%;

    .title, .pre-title {
      margin: 0;
    }

    .title {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.5em;
    }
    .pre-title {
      color: #7D7D7D;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 600;
      letter-spacing: 0.1em;
    }
  }

}


  .tab-alert-item {

    .img, .text {
      display: inline-block;
      padding: 1em;
    }

    .img {
      width: 35%;
      height: 35%;
      vertical-align: top;
    }
    .text {
      width: 60%;
    }
  }

   .imageLoader {

    .spinner {
      background: gray;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    svg {
      stroke: #444;
      fill: #444;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

   .modal {

     background-color: rgba(23, 23, 23, 0.31);

     .content {
      position: absolute;
      bottom: 50%;
      left: 10%;
      right: 10%;
      background: #fff;
      text-align: center;
      overflow-y: scroll;
      padding: 2em;
      height: 35%;
      font-size: 1.5em;
      border-radius: 5%;
     }

     .dark {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
     }

     .bar-footer {
       background: rgba(255, 255, 255, 0);
       border-top: solid 1px #DEDEDE;
       border-bottom: none;
     }

   }

   .error-modal {
     @extend .modal;
   }

   .full-screen-modal {
     @extend .modal;

     .dark {
       opacity: 1;
       padding-top: 7em;
     }

     .bigSlider {
       /*margin-top: 7em;*/

      .swiper-slide {
         text-align: center;

        img {
          padding: 0 !important;
        }

       }

       .swiper-pagination {
         position: absolute;
         bottom: -2em;
       }

       .swiper-pagination-bullet {
          background: rgb(0, 0, 0);
          border: 1px white solid;
          opacity: 1;
       }

       .swiper-pagination-bullet-active {
         background: rgb(255, 255, 255);
         border: 1px black solid;
       }

     }

     .button {
       top: 7.5em;
       right: 0.5em;
       position: absolute;
       z-index: 600;
       border: 1px solid #444;
       background-color: rgba(248, 248, 248, 0.48);
       min-height: 30px;
       line-height: 30px;
       -webkit-transform: translate3d(0,0,0);
     }
   }

   .filter-category {
     .scroll {
       height: 100%;
       position: absolute;
       bottom: 4em;
       top: 0;
     }
   }

   .back-button {
     position: absolute;
     left: 0;
     bottom: 0;
   }

   .sign-in-by {
       position: absolute;
       bottom: 40%;
       //top: 33em;
       left: 0;
       right: 0;
       text-align: center;

       button {
         width: 95%;

         &.join {
           margin-bottom: 1.5em;
         }
     }

     p:not(.terms) {
      margin: 24px 0;

      span {
        text-decoration: underline;
      }

       span.guest-btn {
        color: #068DB3;
        text-decoration: none !important;
      }

    }

   }

   .row.header {
     .col:not(:last-child) {
       border-right: solid 1px black;
     }
   }

   .row {
     text-align: center;
   }


   .search-products.search-panel {
     .item-input {
       float: right;
       margin-top: 0.1em;
     }

     .button {
       padding: 0;
     }
    }

   .nav-button {
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
   }

 .button-done {
    background: #387EF5;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;

   span {
     margin: auto;
   }

  }
