.Search {

  $fontStrongColor: #8A8686;
  $fontMainColor: #4E4D4B;

  color: $fontMainColor;

  .row {
    padding: 0;
  }

  .category {
      color: $fontStrongColor;
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
    color: $fontStrongColor;
    font-size: 0.7em;
  }

  .category-holder {
    height: 12em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    position: relative;

    div.categories {
      position: absolute;
      bottom: 0;
      height: 9em;
      line-height: 3em;
      left:0;
      right:0;
      margin: auto;

      div.category {
        display: inline-block;
        margin: 0em 2%;
        font-size: 0.9em;

        div.img {
          width: 60px;
          height: 60px;
          border-radius: 35px;
          display: block;
          margin: auto;
          border: 1px solid gainsboro;
          font-size: 3.5em;
          padding-top: 6%;
          color: #fff;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        span {
          display: inline-block;
          vertical-align: top;
        }

        div.img-women {
          background: #F79675;
        }

        div.img-men {
          background: #80DEB5;
        }

        div.img-kids {
          background: #6EBDBB;
        }

        div.img-beauty {
          background: rgba(157, 134, 197, 0.87);
        }

        div.img-lifestyle {
          background: #6F6866;
        }
      }
    }

  }

  .top-search-holder {
      text-align: center;

    .top-searches {
      font-size: 1.1em;
    }
  }

  .searches-list {
    text-align: center;
    background: #fff;
    height: 100%;

    .container {
      padding: 0px 15px;
    }
  }

  .recent-searches {

    .title {
      width: 70%;
      float: left;
      text-align: left;
    }
  }

  .button-close {
    color: #B3B0B0;
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 0.5em;
  }

}

