
.Shop {
  .scroll {
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .2);

    .header {
      height: 3em;
      position: relative;

      .tabs {
        position: relative;
      }
    }

    .by-cat-btn {
      margin: 1em;
      width: 90%;
    }
  }

}
