
.Shop {
  background-color: rgba(214, 214, 214, 0.33);
  text-align: center;

  .scroll {
    //height: 100%;

    .header {
      //height: 3em;
      position: relative;

      .tabs {
        position: relative;
      }
    }


  }

}
