$background: #E8E5E5;

@mixin transition-with-delay($transition, $delay) {
  -webkit-transition: all linear $transition;
  -webkit-transition-delay: $delay;
  -o-transition: all linear $transition;
  -o-transition-delay: $delay;
  -moz-transition: all linear $transition;
  -moz-transition-delay: $delay;
  transition: all linear $transition;
  transition-delay: $delay;
}

@import './login';
@import './popover';
@import './shop';
@import './settings';
@import './partial/category-popover';
@import './partial/brand-popover';
@import './partial/search-panel';
@import './brands';
@import './partial/brand-subtab';
@import './showcase';
@import './product';
@import './search';
@import './me';
@import './partial';
@import './android';


//* {
//  touch-events: none;
//}

.bar-stable {
  background: #fff;
}

.bar .title {
  font-weight: 600;
  text-transform: uppercase;
}

.paragraph-title {
  font-weight: 600;
}

div.title.header-item {
  line-height: 51px!important;
  margin: 0;
  padding: 0 10px;

  .back-button {
    padding: 0 10px;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.bar-header {
  //@include transition-with-delay(0.5s, 1s);
}

.body-product {

  .bar-header {
    height: 74px !important;
    //@include transition-with-delay(0s, 0s);

  }
  .product-tab .product-slider {
    margin-top: 6em;
  }

}
