<ion-popover-view class="signun-popover">

  <div class="nav-panel">
    <button ng-click="signunPopover.hide()" class="close-btn button button-icon icon ion-android-close"></button>
    <span class="title">Signun</span>
  </div>

  <div class="list signun-list">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Create Password">
    </label>
  </div>

   <span class="info">Password must contain at least 8 characters,
      an uppercase letter, a lowercase letter and a number.</span>

  <div class="footer">
    <button class="button button-calm join" ng-click="toShop()">
      JOIN SPRING
    </button>
    <p>or</p>
    <button class="button icon-left ion-social-facebook-outline button-positive" ng-click="toShop()">
      CONTINUE WITH FACEBOOK
    </button>
    <p>By joining you agree to our <span class="terms">Terms</span> & <span class="policy">Privacy Policy</span></p>
  </div>

</ion-popover-view>
