<ion-popover-view class="signin-popover">

  <ion-scroll direction="y" style="height: 100%;">

  <div ng-if="!recovery">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email" focus-if="isFocus($event)">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Пароль" ng-model="user.password">
      </label>
    </div>
    <button class="button button-clear button-light forgot" ng-click="openRecovery()">
      Забыли пароль?
    </button>
    <br>
    <button class="button button-dark sign big-button" ng-click="signIn()">
      Войти
    </button>
      <!--<p class="terms"><span>Don't have an account?</span> <span class="guest-btn" ng-click="opensignunPopover()">Sign up</span></p>-->
  </div>

  <div ng-if="recovery">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
    </div>
    <button class="button button-dark recover big-button" ng-click="forgotPassword()">
      Восстановить пароль
    </button>
  </div>

   </ion-scroll>
</ion-popover-view>
