<ion-popover-view class="signup-popover">

 <ion-scroll direction="y" style="height: 100%;">

  <div class="list signun-list">
    <div class="item item-input">
      <input type="text" placeholder="Имя" ng-model="user.firstName">
    </div>
    <div class="item item-input">
      <input type="text" placeholder="Фамилия" ng-model="user.lastName">
    </div>
    <div class="item item-input">
      <input type="text" placeholder="Email" ng-model="user.email">
    </div>
    <div class="item item-input">
      <input type="password" placeholder="Пароль" ng-model="user.password">
    </div>
  </div>

   <span class="info">Пароль должен содержать не меньше 8 символов.</span>

    <div class="footer">
      <button class="button button-calm join big-button" ng-click="signUp()">
        Присоединиться
      </button>
      <p>or</p>
      <button class="button icon-left ion-social-facebook-outline button-positive big-button" ng-click="toShop()">
        Войти через facebook
      </button>
      <p class="terms">Присоединяясь к нам вы соглашаетесь с <a href='{{::info.termUrl}}' class="terms">условиями</a> и <a href='{{::info.privacyPolicyUrl}}' class="policy">положениями</a></p>
    </div>

 </ion-scroll>

</ion-popover-view>
