<ion-popover-view class="signin-popover">

  <div class="panel">
    <button ng-click="closesigninPopover()" class="close-btn button button-icon icon ion-android-close"></button>
  </div>

  <div ng-if="!recovery">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>
    <button class="button button-clear button-light forgot" ng-click="openRecovery()">
      Forgot Your Password?
    </button>
    <br>
    <button class="button button-dark sign" ng-click="toShop()">
      SIGN INTO SPRING
    </button>
  </div>

  <div ng-if="recovery">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
    </div>
    <button class="button button-dark recover">
      RECOVER PASSWORD
    </button>
  </div>

</ion-popover-view>
