<ion-view class="Brand-subtab Brands Shop" hide-back-button="true">

 <ion-nav-title>
    <back></back>
   {{chosenBrand.name}}
  </ion-nav-title>

  <ion-content>
    <div class="brand-first-page">
      <div class="brand-slide">
        <img class="base-img" src="{{chosenBrand.background}}" width="100%" height="100%" alt="">
        <div class="details">
          <div class="details-under-picture">

            <div class="follow" ng-if="! chosenBrand.isLiked" ng-click="follow(chosenBrand)">
              <i class="ion-ios-plus-empty"></i>
              <p>FOLLOW</p>
            </div>

            <div class="following" ng-if="chosenBrand.isLiked" ng-click="follow(chosenBrand)">
              <i class="ion-ios-checkmark-empty"></i>
              <p>FOLLOWING</p>
            </div>

          <div class="send">
            <i class="ion-ios-upload-outline"></i>
          </div>
          <div class="more-info" ng-click="openmoreInfo()">
            <p class="title">{{chosenBrand.desc_short}}</p>
            <p>
              <span>See more</span>
              <i class="ion-android-radio-button-off point"></i>
              <i class="ion-android-radio-button-off point"></i>
              <i class="ion-android-radio-button-off point"></i>
            </p>
          </div>
          </div>
        </div>
      </div>
      <div class="bar bar-subheader">
        <categories cats="cats"></categories>
      </div>
      </ul>
      <div class="container">
        <div class="button button-main" ng-click="toBrandProducts()"> Shop all</div>
        <brand-picture2 widget="chosenBrand" ng-click="toBrandProducts()"></brand-picture2>
        <ul class="to-category">
          <li ng-click="toBrandProducts()">
            <span class="title">Shop category name</span>
            <i class="ion-ios-arrow-right"></i>
          </li>
          <li ng-repeat="category in cats" ng-click="toBrandProducts(category.id)">
            <span>{{category.name}}</span>
            <i class="ion-ios-arrow-right"></i>
          </li>
        </ul>
      </div>
      <!--<div class="filter">
        <div class="box" ng-click="opensortPopover()">sort</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
      </div>
      <showcase></showcase>-->
    </div>
  </ion-content>
</ion-view>
