<ion-view class="brand-follow-page Shop Brand-subtab Brands">

  <ion-nav-title>
    <button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
     <search-panel class="brand-follow-page"></search-panel>
    </ion-nav-title>

  <ion-content>

  <div class="bar-subheader">
    <categories cats="cats"></categories>

    <brand-follow ng-repeat="brand in brands" widget="brand"></brand-follow>
  </div>


  </ion-content>
</ion-view>
