<ion-popover-view  class="more-info-popover">

    <ion-content scrollbar-x="false">
      <div class="container">
        <div class="close-btn" ng-click="moreInfo.hide()"><i class="ion-android-close"></i></div>
        <img src="{{::chosenBrand.logo}}" alt="">
        <p class="description">
          {{::chosenBrand.descLong}}
        </p>
        <p>{{::chosenBrand.url}}</p>
        <div class="connect block-line">
          <p class="title">Связаться с {{::chosenBrand.name}}</p>
            <a href="::{{chosenBrand.facebook}}"><i class="icon ion-social-facebook"></i></a>
            <a href="::{{chosenBrand.twitter}}"><i class="icon ion-social-twitter"></i></a>
            <a href="::{{chosenBrand.instagram}}"><i class="icon ion-social-instagram-outline"></i></a>
        </div>
        <div class="block-line update">
          <p class="title">Получать Новости</p>
          <p class="description">Узнавайте об эксклюзивных продуктах, скидках и т.д.</p>
          <div class="button" ng-click="followFormMoreInfo()">
            <i class="ion-ios-email-outline"></i>
            <span ng-if="chosenBrand.isLiked">Отписаться</span>
            <span ng-if="! chosenBrand.isLiked">Подписаться</span>
          </div>
        </div>
      </div>
    </ion-content>


  <!--<div class="close-btn"><i class="ion-android-close"></i></div>-->

</ion-popover-view>
