<div class="case-item" ng-click="openProduct(product)">
  <div class="img">
    <image-loader
        source="{{product.img}}"
        width="100%"
        height="auto"
        defaultPic="./img/nopicture.png"
     ></image-loader>
    <!--<img src="{{::product.img}}"
         alt=""
         width="100%"
         height="auto">-->
      <i ng-if="! product.isLiked" ng-click="addLiked(product, $event)" class="ion-android-favorite-outline button-empty-like"></i>
      <i ng-if="product.isLiked" ng-click="removeLiked(product, $event)" class="ion-android-favorite-outline button-like"></i>
  </div>
  <span class="mark">{{::product.brandName}}</span>
  <span class="title">{{::product.name}}</span>
  <span class="cost">{{::product.price}} {{::product.currency}}</span>
</div>
