<ion-view view-title="SEARCH" class="Search">
  <ion-content>
    <search-panel></search-panel>

    <div class="searches-list recent-searches check-element sample-show-hide ng-hide"
         ng-show="isSearchOnFocus && isRecentSearchesShow"
         ng-include="includes.lastSearches"></div>

    <div class="searches-list top-searches check-element sample-show-hide ng-hide"
         ng-show="isSearchOnFocus && !isRecentSearchesShow"
         ng-include="includes.topSearches"></div>

    <div ng-show="! isSearchOnFocus" class="check-element sample-show-hide">
      <div class="category-holder">
        <p class="title">Browse by category</p>
        <div class="categories">
          <div class="category" ng-repeat="category in categories track by $index" ng-click="openPopover()">
            <div class="img">
              <img src="{{::category.icon}}" width="100%" height="100%" alt="">
            </div>
            <div>{{::category.name}}</div>
          </div>
        </div>
      </div>
      <div class="top-search-holder" ng-show="false">
        <p class="title">Top searches:</p>
        <div class="top-searches">
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div><div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div><div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
          <div>Sneakers <span class="category">in Men</span></div>
          <div>T-shirt</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
