<ion-popover-view class="filter-popover">
  <div class="nav-panel">
    <button ng-click="hidePopover()" class="close-btn button button-icon icon ion-android-close"></button>
    <span class="title">Параметры</span>
    <span class="reset" ng-click="reset()">Сбросить</span>
  </div>

  <div class="body">
    <div class="nav">
      <p class="{{chosenMenuItem.name == filter ? 'chosen' : ''}}" ng-click="setChosenFilter(filter)" ng-repeat="filter in filterBy">{{filter}}</p>
    </div>

    <div class="content">
      <filter-category ng-if="chosenMenuItem.name == filterBy[0]"
                       categories="categories"
                       click="getCategoryTree"
                       close="closeCategoryNode"
                       filter="chosenFilter.sectionId"
      ></filter-category>

      <filter-size ng-if="chosenMenuItem.name == filterBy[1]"
                   sizes="sizes"
                   click="setChosenSize"
                   filter="chosenFilter.size"
      ></filter-size>

      <filter-color ng-if="chosenMenuItem.name == filterBy[2]"
                   colors="colors"
                   click="setChosenColor"
                   filter="chosenFilter.color"
      ></filter-color>
    </div>

  </div>

  <div class="footer">
    <button class="button button-positive big-button" ng-click="showResult()">
      Показать результат
    </button>
  </div>

</ion-popover-view>
