<div class="search-panel row">
  <form ng-submit="search()">
    <label ng-class="{'item-reduce': isSearchOnFocus}" class="item item-input sample-show-hide">
      <span ng-click="search()">
        <i class="icon ion-search placeholder-icon"></i>
      </span>
        <input type="text" class="sample-show-hide" placeholder={{placeholder}} ng-model="searchStr" ng-focus="onFocus()">
    </label>
  </form>
  <div ng-show="isSearchOnFocus"
       ng-class="{'button-increase': isSearchOnFocus}"
       ng-click="onCancelClick()"
       class="button sample-show-hide ng-hide">Cancel</div>
</div>
