<div class="Login">
  <ion-slide-box show-pager="true" does-continue="true" class="main-slider">
    <ion-slide>
      <div class="img run"></div>
    </ion-slide>
    <ion-slide>
      <div class="img walk"></div>
    </ion-slide>
    <ion-slide>
      <div class="img cas"></div>
    </ion-slide>
  </ion-slide-box>

  <div class="footer">
    <button class="button button-calm join" ng-click="openauthPopover()">
      JOIN WITH EMAIL
    </button>
    <button class="button icon-left ion-social-facebook-outline button-positive" ng-click="toShop()">
      CONTINUE WITH FACEBOOK
    </button>
    <p><span class="signin-btn" ng-click="opensigninPopover()">Sign in</span> or <span class="guest-btn" ng-click="toShop()">Continue as guest</span></p>
    <p>By joining you agree to our <span class="terms">Terms</span> & <span class="policy">Privacy Policy</span></p>
  </div>
</div>
