<div class="brand-list">
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="brand in items track by $index">
        <div class="holder" ng-click="goto(brand.id)">
             <image-loader
                  source="{{brand.img}}"
                  width="100%"
                  height="auto"
                  className="img"
                  defaultPic="./img/nopicture.png"
                ></image-loader>
          <!--<img class="img" ng-src={{::brand.img}} />-->
        </div>
      </div>
      <div class="thing">
        <div class="holder plus-button" ng-click="gotofollowpage()">
          <div class="img">
            <div class="center">
              <i class="ion-ios-plus-empty more"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
