<div class="brand-follow">
   <div class='content content-profile' ng-click="goToBrand(widget.id)">
      <div class="brand-pic">
        <img src="{{widget.icon}}" width="100%" height="100%" alt="">
      </div>
      <div class="brand-descr">
        <div><strong>{{widget.name}}</strong></div>
        <div>Bottoms, Tops, Bags, Accessori...</div>
      </div>
      <div class="brand-new-items">
        <i class="ion-ios-plus-outline"></i>
        <p>Follow</p>
      </div>
   </div>
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="product in widget.items track by $index" ng-click="openProduct(product)">
        <div class="holder">
          <img class="img" ng-src="{{product.img}}">
        </div>
        <p class="title">{{product.name}}</p>
        <p class="cost">
          <span ng-class="{{product.price}}">{{product.price | currency:product.currency:00}}</span>
        </p>
      </div>
      <div class="thing" ng-click="goToBrand(brand.id)">
        <div class="holder">
          <div class="img">
            <div class="center">
              <span class="all">SHOP ALL</span><br>
              <span>{{widget.items.length}} <span>items</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
