<div class="brand-list">
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="brand in items track by $index">
        <div class="holder" ng-click="goto(brand.id)">
          <img class="img" ng-src={{brand.icon}}>
        </div>
      </div>
      <div class="thing">
        <div class="holder">
          <div class="img">
            <div class="center">
              <i class="ion-ios-plus-empty more" ng-click="gotofollowpage()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
