<ion-view view-title="Brand Name" class="Brand-subtab Brands Shop">
  <ion-content>
    <div class="brand-first-page">
      <div class="brand-slide">
        <div class="details-under-picture">
          <div class="follow">
            <i class="ion-ios-plus-empty"></i>
            <span>FOLLOW</span>
          </div>
          <div class="send">
            <i class="ion-ios-upload-outline"></i>
          </div>
          <div class="more-info" ng-click="openmoreInfo()">
            <p class="title">Some title</p>
            <p>
              <span>See more</span>
              <i class="ion-android-radio-button-off point"></i>
              <i class="ion-android-radio-button-off point"></i>
              <i class="ion-android-radio-button-off point"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="bar bar-subheader">
        <categories></categories>
      </div>
      </ul>
      <div class="container">
        <div class="button button-main" ng-click="toBrandProducts()"> Shop all</div>
        <brand-picture2 ng-click="openbrandPopover()"></brand-picture2>
        <ul class="to-category">
          <li ng-click="toBrandProducts()">
            <span class="title">Shop category name</span>
            <i class="ion-ios-arrow-right"></i>
          </li>
          <li ng-repeat="category in categories" ng-click="toBrandProducts()">
            <span>{{category}}</span>
            <i class="ion-ios-arrow-right"></i>
          </li>
        </ul>
      </div>
      <!--<div class="filter">
        <div class="box" ng-click="opensortPopover()">sort</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
        <div class="box" ng-click="openfilterPopover()">filter</div>
      </div>
      <showcase></showcase>-->
    </div>
  </ion-content>
</ion-view>
