
<div class="product-slider">
  <div class="title content-profile">
    <p class="flag">Name</p>
    <p class="name">Name</p>
    <div class="mark">7d</div>
  </div>
  <ion-slide-box show-pager="true" does-continue="true" class="main-slider">
    <ion-slide>
      <div class="img run"></div>
    </ion-slide>
    <ion-slide>
      <div class="img walk"></div>
    </ion-slide>
    <ion-slide>
      <div class="img cas"></div>
    </ion-slide>
  </ion-slide-box>
  <div class="description content-profile">
    <p class="title">Title of the product</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="footer">
      <div class="left-data">
        <div class="button data">
          <div class="icon">
            <div>
              <i class="ion-cube"></i>
            </div>
          </div>
          <div>
            <p class="title">Shipping data</p>
            <p class="description">some info</p>
          </div>
        </div>
        <div class="button button-footer" ng-click="openoptionPopover()">
            <em>Buy</em>
            <span>$59.00</span>
        </div>
      </div>
      <div class="right-data">
        <div class="button data" ng-click="opendetailPopover()">
            <span>View Details</span>
            <i class="ion-ios-plus-empty"></i>
        </div>
        <div class="button button-footer">
          <i class="ion-ios-heart-outline"></i>
          <span>25</span>
        </div>
        <div class="button button-footer">
          <i class="ion-ios-upload-outline"></i>
        </div>
      </div>
    </div>

  </div>
</div>
