<div class="recommend-slider">
  <p ng-class="widget.sale ? 'slider-header red' : 'slider-header' " ng-click="click()">{{::widget.title}} <i class="ion-chevron-right"></i></p>
  <p class="subheader">в {{::widget.name}}</p>
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="product in widget.items track by $index" ng-click="openProduct(product)">
        <div class="holder">
           <image-loader
              source="{{product.img}}"
              width="100%"
              height="auto"
              className="img"
              defaultPic="./../../img/nopicture.png"
            ></image-loader>
          <!--<img class="img" ng-src="{{::product.img}}">-->
          <div class="ribbon" ng-if="product.ribbon"><h2>{{product.ribbon}}</h2></div>
        </div>
        <p class="title">{{product.name}}</p>
        <p class="cost">
          <span ng-class="product.discount ? 'price old' : 'price'">{{product.price}} {{product.currency}}</span>
          <span class="discount" ng-if="product.discount">{{product.discount}} {{product.currency}}</span>
        </p>
      </div>
      <div class="thing" ng-click="click()">
        <div class="holder">
          <div class="img">
            <div class="center">
              <span class="all">Просмотреть все</span><br>
              <span>{{widget.items.count}} <span>{{declension(widget.items.count)}}</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
  <!--<div class="recommend-slider">
    <p ng-class="widget.sale ? 'slider-header red' : 'slider-header blue'"
       ng-click="click(widget.id, paramstoclick)" >{{::widget.title}} <i class="ion-chevron-right"></i></p>

    <p class="subheader">в {{::widget.name}}</p>
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="product in widget.items track by $index" ng-click="openProduct(product)">
        <div class="holder">
          <img class="img" ng-src="{{::product.img}}">
          <div class="ribbon" ng-if="product.ribbon"><h2>{{::product.ribbon}}</h2></div>
        </div>
        <p class="title">{{::product.name}}</p>
        <p class="cost">
          <span ng-class="product.discount ? 'price old' : 'price'">{{::product.price }} {{::product.currency}}</span>
          <span class="discount" ng-if="product.discount">{{::product.discount}} {{::product.currency}}</span>
        </p>
      </div>
      <div class="thing" ng-click="click(widget.id, paramstoclick)">
        <div class="holder">
          <div class="img">
            <div class="center">
              <span class="all">Просмотреть все</span><br>
              <span>{{::widget.items.length}} <span>{{::declension(widget.items.length)}}</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
  <div class="line">
    <div></div>
  </div>
  <p class="postheader">{{::widget.postheader}}</p>
</div>
-->

</div>


