<div class="product-slider">
  <div class="title content-profile">
    <div class="flag" ng-click="goToBrand(brand.id)">
      <img src="{{::brand.icon}}" width="100%" height="100%" alt="">
    </div>
    <p class="name" ng-click="goToBrand(brand.id)">{{::brand.name}}</p>
    <div class="mark">{{::item.time}}</div>
  </div>

 <!-- <ion-slide-box show-pager="true" does-continue="true" class="main-slider">
    <ion-slide id="slider" ng-repeat="image in item.imgs track by $index"  >
      <img src="{{::image}}" width="auto" height="85%" alt="">
    </ion-slide>
  </ion-slide-box>-->

  <big-slider imgs="item.imgs"></big-slider>

  <div class="description content-profile">
    <p class="title">{{::item.name}}</p>
    <p>{{::item.descShort}}</p>
    <div class="footer">
      <div class="left-data">
        <div class="button data">
          <div class="icon">
            <div>
              <i class="ion-cube"></i>
            </div>
          </div>
          <div ng-click="opendetailPopover()">
            <p class="title">Shipping data</p>
            <p class="description">some info</p>
          </div>
        </div>
        <div class="button button-footer" ng-click="openbasketPopover()">
            <em>Buy</em>
            <span>{{::item.price}} {{::item.currency}}</span>
        </div>
      </div>
      <div class="right-data">
        <div class="button data" ng-click="opendetailPopover()">
            <span>View Details</span>
            <i class="ion-ios-plus-empty"></i>
        </div>
        <div class="button button-footer" ng-click="like(item)">
          <i ng-if="item.isLiked" class="ion-ios-heart"></i>
          <i ng-if="!item.isLiked" class="ion-ios-heart-outline"></i>
          <span>{{::item.loveCount}}</span>
        </div>
        <div class="button button-footer">
          <i class="ion-ios-upload-outline"></i>
        </div>
      </div>
    </div>

  </div>
</div>
