<div class="product-slider transition-with-delay">
  <div class="title content-profile">
    <div class="flag" ng-touchend="goToBrand(item.brandId)">
      <div class="img">
        <img src="{{::item.brandLogo}}" width="100%" height="100%" alt="">
      </div>
    </div>
    <p class="name" ng-touchend="goToBrand(item.brandId)">{{::item.brandName}}</p>
    <div class="mark">{{::item.time}}</div>
  </div>

 <big-slider imgs="item.imgs" ng-touchend="openfullScreenModal()"></big-slider>

  <div class="description content-profile">
    <p class="title">{{::item.name}}</p>
    <p>{{::item.descShort}}</p>
    <div class="footer">
      <div class="left-data">
        <!--<div class="button data">
          <div class="icon">
            <div>
              <i class="ion-cube"></i>
            </div>
          </div>
          <div ng-touchend="opendetailPopover()">
            <p class="title">Shipping data</p>
            <p class="description">some info</p>
          </div>
        </div>-->
        <div class="button button-footer" ng-touchend="openbasketPopover()">
            <em>Купить</em>
            <span>{{::item.price}} {{::item.currency}}</span>
        </div>
      </div>
      <div class="right-data">
        <div class="button data" ng-touchend="opendetailPopover()">
           <span>Детали</span>
          <span><i class="ion-ios-plus-empty"></i></span>
        </div>
        <div class="button button-footer" ng-touchend="like(item)">
          <i ng-if="item.isLiked" class="ion-ios-heart"></i>
          <i ng-if="!item.isLiked" class="ion-ios-heart-outline"></i>
          <span>{{::item.loveCount}}</span>
        </div>
        <div class="button button-footer" ng-touchend="shareAnywhere(item)">
          <i class="ion-ios-upload-outline"></i>
        </div>
      </div>
    </div>

  </div>
</div>
