<ion-popover-view class="promo-popover">

  <div></div>
  <!--<button ng-click="popover.hide()" class="close-btn button button-icon icon ion-android-close"></button>-->
  <!--<div class="close-btn"><i class="ion-android-close"></i></div>-->
  <ion-scroll direction="y" style="width: 100%; height: 100%">
   <div class="container">
      <div ng-click="popover.hide()" class="form-head">
        <div>Promo Code</div>
        <div class="arrow">
          <i class="ion-minus"></i>
        </div>
      </div>
      <div class="form-body"></div>
      <form>
        <input type="text" placeholder="Promo Code" focus-if="isFocus()" />
        <button class="button button-block">Done</button>
      </form>
    </div>
  </ion-scroll>

</ion-popover-view>
