<ion-scroll direction="y" style="height: 100%;">
  <div class="address-fields">

    <div class="content"
         ng-if="chosenType != 'newAddress'"
         ng-repeat="address in addresses"
         ng-touchend="chooseAddress(address.addressId)">

      <div class="address">
        <p>{{::address.fullname}}</p>
        <p>{{::address.street}} {{::address.house}}</p>
        <p>{{::address.location}}, {{::address.zip}}</p>
      </div>
      <div class="mark" ng-if="address.addressId === basketData.address.addressId">
        <i class="ion-ios-checkmark-outline"></i>
      </div>
    </div>
    <div class="content" ng-if="addresses.length > 0" ng-touchend="newAddressForm()">
      <span>Добавить новый адрес</span>
      <i  ng-if="chosenType != 'newAddress'" class="ion-ios-plus-outline pull-right"></i>
      <i ng-if="chosenType == 'newAddress'" class="ion-ios-minus-outline pull-right"></i>
    </div>


   <!-- <form class="form" ng-if="addresses.length == 0 || chosenType == 'newAddress'" ng-submit="addShipAddress()">

      <div class="clearfix">
        <div class="">
          <input type="text" name="name" placeholder="ФИО" ng-model="shipAddress.fullname" id="fio" />
        </div>

        <div class="city">
          <input type="text" name="city" placeholder="Город" ng-model="shipAddress.city" value="{{::shipAddress.city}}" />
        </div>
        <div class="zip">
          <input type="text" name="zip"  placeholder="Индекс" ng-class="{'error-field': errors.zip}" ng-model="shipAddress.zip" />
        </div>

        <div class="street">
          <input type="text" name="street" name="street" placeholder="Улица" ng-model="shipAddress.street" />
        </div>
        <div class="other">
          <input type="text" name="build" name="build" placeholder="Дом" ng-model="shipAddress.house" />
        </div>

        <div class="other">
          <input type="text" name="build" placeholder="Строение"  ng-model="shipAddress.building" />
        </div>
        <div class="other">
          <input type="text" name="build" placeholder="Квартира"  ng-model="shipAddress.flat" />
        </div>
        <div class="other">
          <input type="text" name="build" placeholder="Подъезд"  ng-model="shipAddress.entrance" />
        </div>

        <div class="">
          <input type="text" name="phone" placeholder="Телефон" ng-model="shipAddress.phone" />
        </div>

        <div class="">
          <input type="text" name="email" placeholder="Email" ng-model="shipAddress.email" />
        </div>

        <div class="">
          <input class="button  btn-done address-btn-done" type="submit" value="Далее" />
        </div>
      </div>

    </form>-->



    <form class="form" ng-if="addresses.length == 0 || chosenType == 'newAddress'" ng-submit="addShipAddress()">
         <input type="text" name="name" placeholder="ФИО" ng-model="shipAddress.fullname" id="fio" />
        <input type="text" name="city" placeholder="Город" class="city" ng-model="shipAddress.city" value="{{::shipAddress.city}}" />
         <input type="text" name="zip" placeholder="Индекс" class="zip" ng-class="{'error-field': errors.zip}" ng-model="shipAddress.zip" />
        <input type="text" name="street" placeholder="Улица" class="street" ng-model="shipAddress.street" />
        <input type="text" name="build" placeholder="Дом" class="build" ng-model="shipAddress.house" />
         <input type="text" name="build" placeholder="Строение" class="other" ng-model="shipAddress.building" />
         <input type="text" name="build" placeholder="Квартира" class="other" ng-model="shipAddress.flat" />
         <input type="text" name="build" placeholder="Подъезд" class="other" ng-model="shipAddress.entrance" />
        <input type="text" name="phone" placeholder="Телефон" ng-model="shipAddress.phone" />
         <input type="text" name="email" placeholder="Email" ng-model="shipAddress.email" />
        <input class="button  btn-done address-btn-done" type="submit" value="Далее" />
    </form>
  </div>
</ion-scroll>
