<ion-scroll direction="y" style="height: 30em;">
  <div class="address-fields">

    <div class="content"
         ng-if="chosenType != 'newAddress'"
         ng-repeat="address in addresses"
         ng-click="chooseAddress(address.addressId)">

      <div class="address">
        <p>{{::address.fullname}}</p>
        <p>{{::address.street}} {{::address.house}}</p>
        <p>{{::address.location}}, {{::address.zip}}</p>
      </div>
      <div class="mark" ng-if="address.addressId === basketData.address.addressId">
        <i class="ion-ios-checkmark-outline"></i>
      </div>
    </div>
    <div class="content" ng-if="addresses.length > 0" ng-click="newAddressForm()">
      <span>Добавить новый адрес</span>
      <i  ng-if="chosenType != 'newAddress'" class="ion-ios-plus-outline pull-right"></i>
      <i ng-if="chosenType == 'newAddress'" class="ion-ios-minus-outline pull-right"></i>
    </div>

    <form class="form" ng-if="addresses.length == 0 || chosenType == 'newAddress'" ng-submit="addShipAddress()">
      <div>
         <input type="text" name="name" placeholder="ФИО" ng-model="shipAddress.fullname" id="fio" />
      </div>
      <div>
        <input type="text" name="city" placeholder="Город" class="city" ng-model="shipAddress.city" value="{{::shipAddress.city}}" />
      </div>
      <div>
         <input type="text" name="zip" placeholder="Индекс" class="zip" ng-class="{'error-field': errors.zip}" ng-model="shipAddress.zip" />
      </div>
      <div>
        <input type="text" name="street" placeholder="Улица" class="street" ng-model="shipAddress.street" />
      </div>
      <div>
        <input type="text" name="build" placeholder="Дом" class="build" ng-model="shipAddress.house" />
      </div>
      <div>
         <input type="text" name="build" placeholder="Строение" class="other" ng-model="shipAddress.building" />
      </div>
      <div>
         <input type="text" name="build" placeholder="Квартира" class="other" ng-model="shipAddress.flat" />
      </div>
      <div>
         <input type="text" name="build" placeholder="Подъезд" class="other" ng-model="shipAddress.entrance" />
      </div>
      <div>
        <input type="text" name="phone" placeholder="Телефон" ng-model="shipAddress.phone" />
      </div>
      <div>
         <input type="text" name="email" placeholder="Email" ng-model="shipAddress.email" />
      </div>
      <div>
        <input class="button  btn-done address-btn-done" type="submit" value="Далее" />
      </div>
    </form>
  </div>
</ion-scroll>
