<div class="shipping-fields">

  <div class="content">
    <span>Qty. x{{::basketData.size.price}}$</span>
    <div class="pull-right">
      <i class="ion-ios-minus-empty" ng-click="changeQuantityProduct(-1)"></i>
      <span>{{basketData.quantity}}</span>
      <i class="ion-ios-plus-empty" ng-click="changeQuantityProduct(1)"></i>
    </div>
  </div>

  <div class="content">
    <span>Shipping</span>
     <div  class="details pull-right">
        <p>{{::basketData.address.fullname}}</p>
        <p>{{::basketData.address.street}} {{::basketData.address.house}}</p>
        <p>{{::basketData.address.location}}, {{::basketData.address.zip}}</p>
      </div>
  </div>

  <div class="content">
    <span>Total</span>
    <span class="pull-right">{{basketData.size.price * basketData.quantity}} {{::basketData.size.currency}}</span>
  </div>

  <div class="button  btn-done" ng-click="setChosenType()">Done</div>
</div>

