<ion-view class="Settings" hide-back-button="true">

   <ion-nav-title>
    <back></back>
     Настройки
   </ion-nav-title>

    <ion-content>

      <div class="loader-gif" ng-if="!ready()"> </div>
      <div ng-if="ready()">

         <!--<div class="label">Promotion</div>
        <div class="link" ng-click="toPromo()">
          <span>Promo codes</span>
          <div class="arrow">
            <i class="ion-chevron-right"></i>
          </div>
        </div>
        <div class="label">Profile</div>
        <div class="link" ng-click="toShowMe()">
          <span>Show me</span>
          <div class="arrow">
            <span>{{sexObj.sex[sexObj.chosenIndex]}}</span>
            <i class="ion-chevron-right"></i>
          </div>
        </div>-->
        <div class="label">О нас</div>

        <!--<div class="link">Feedback</div>
        <div class="link">Contact us</div>-->

        <div class="link" ng-click="toStaticPage(page.id)" ng-repeat="page in staticPages">
          <span>{{::page.name}}</span>
          <div class="arrow">
            <i class="ion-chevron-right"></i>
          </div>
        </div>

        <div class="logout" ng-click="signOut()">
            <button>Выход</button>
        </div>

      </div>

    </ion-content>

</ion-view>
