.Brand-subtab {
  .brand-slide {
    height: 13em;
    width: 100%;
    background-size: contain;
    border-bottom: 1px solid  #DDDDDD;
    position: relative;
    background: $background;

    .details {
      height: calc(100% - 2em);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: 1em;

      .base-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .details-under-picture {

       margin: 1em;

      .send {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5em;
        color: #fff;
        padding: 0 0 20px 30px;
      }

      .more-info {
        position: absolute;
        bottom: 3.3em;
        left: 0;
        font-size: 0.8em;
        line-height: 0.9em;
        height: 0.9em;
        text-align: left;
        color: #fff;

        .point {
          font-size: 0.5em;
        }

        p.short {
          width: 18em;
          line-height: 1em;
          height: 4em;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }

      }
    }

    }

  }

  .to-category {
    padding: 0 2em 0 1em;
  }
}
