.Brand-subtab {
  .brand-slide {
    height: 13em;
    width: 100%;
    background-size: contain;
    border-bottom: 1px solid  #DDDDDD;
    position: relative;
    background: #DDDDDD;

    .details {
      height: calc(100% - 2em);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: 1em;

      .base-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .details-under-picture {

       margin: 1em;

      .send {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5em;
      }

      .follow {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90px;
        height: 30px;
        background: #fff;
        line-height: 30px;
        text-align: center;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 0.7em;
        font-weight: 600;
      }

      .more-info {
        position: absolute;
        bottom: 1.3em;
        left: 0;
        font-size: 0.8em;
        line-height: 0.9em;
        height: 0.9em;
        text-align: left;

        .point {
          font-size: 0.5em;
        }

      }
    }

    }

  }

  .to-category {
    background: #fff;
    padding: 0 2em 0 1em;
    margin: 0 -1em;

    li {
      border-bottom: solid 1px #DDDDDD;
      text-align: left;
      line-height: 3em;
    }

    i {
      float: right;
    }

    .title {
      font-weight: 600;
    }

  }
}
