.category-popover {
  top:0 !important;
  left:0 !important;
  right:0 !important;
  bottom:0 !important;
  height:100%;
  width: 100%;
  opacity: 1;
  background: #f1f1f1;
  margin: 0!important;

  div.popover-arrow {
    display: none;
  }

  button.close-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    left:15px;
    z-index: 5;
    position: absolute;
  }

  ul.category-list {
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 50px 0;

    li.cat-item {
      text-align: center;
      font-size: 30px;
      height: 2em;
      line-height: 2em;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }
}
