.search-panel {
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid gainsboro;

  form {
    width: 100%;
  }

    .item {
      width: 90%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      background: $background;
      height: 2em;
      display: inline-flex;
      padding: 0 9%;
      float: left;
      margin: 15px;
    }

    .item-reduce {
      width: 90%;
      padding: 0 3%;
    }

    .button {
      background-color: #fff;
      margin: 0;
      margin-left: -15px;
      min-width: 0px;
      min-height: 29px;
      vertical-align: middle;
      font-size: inherit;
      color: inherit;
      word-wrap: initial;
      padding: 7px 9px 7px 0;
    }

    .button-increase {
      min-width: 57px;
    }
  }

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

.sample-show-hide.ng-hide {
  opacity:0;
}
