<ion-view hide-back-button="true">
  <ion-nav-title>
    <back></back>
   {{::item.brandName}}
  </ion-nav-title>

  <ion-content class="product-tab">

     <div class="loader-gif" ng-if="!ready()"> </div>
     <div ng-if="ready()">
       <div class="follow big-button" ng-if="" ng-click="follow(chosenBrand)">
        <i class="ion-ios-plus-empty"></i>
        <p>Подписаться</p>
       </div>

      <div class="following big-button" ng-if="" ng-click="follow(chosenBrand)">
        <i class="ion-ios-checkmark-empty"></i>
        <p>Подписан</p>
      </div>

      <ion-scroll direction="y">
          <buy-product item="product"></buy-product>
          <div class="header" ng-if="products.length">
            <p class="text">More like this</p>
            <div class="line"></div>
          </div>
          <div>
            <showcase products="products"></showcase>
          </div>
     </ion-scroll>
       </div>
     </ion-content>


  </div>

</ion-view>
