<div class="category-content">

  <slider></slider>

  <button class="button by-cat-btn" ng-click="openPopover()">
    BROWSE BY CATEGORY
  </button>

  <div ng-repeat="widget in widgets track by $index">

    <div ng-if="widget.type=='likedCat'"><liked-cat></liked-cat></div>

    <liked-slider ng-if="widget.type=='likedSlider'" widget="widget"></liked-slider>

    <gallery-slider ng-if="widget.type=='gallerySlider'" widget="widget"></gallery-slider>

    <thematic-slider ng-if="widget.type=='thematicSlider'" widget="widget"></thematic-slider>

    <div ng-if="widget.type=='categoryMenu'"><category-menu></category-menu></div>

  </div>
</div>
