<div class="liked-slider">
  <p ng-class="widget.sale ? 'slider-header red' : 'slider-header' ">{{widget.title}} <i class="ion-chevron-right"></i></p>
  <ion-scroll direction="x" delegate-handle="horizontal">
    <div class="scrolling" ng-style="{width: width}">
      <div class="thing" ng-repeat="product in widget.items track by $index">
        <div class="holder">
          <img class="img" ng-src="{{product.src}}">
          <div class="ribbon" ng-if="product.ribbon"><h2>{{product.ribbon}}</h2></div>
        </div>
        <p class="brand">{{product.brand}}</p>
        <p class="title">{{product.title}}</p>
        <p class="cost">
          <span ng-class="product.discount ? 'price old' : 'price'">{{product.cost | currency:"$":00}}</span>
          <span class="discount" ng-if="product.discount">{{product.discount | currency:"$":00}}</span>
        </p>
      </div>
      <div class="thing">
        <div class="holder">
          <div class="img">
            <div class="center">
              <span class="all">SHOP ALL</span><br>
              <span>{{widget.count}} <span>items</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
