.Shop {
  background-color: rgba(214, 214, 214, 0.33);
  text-align: center; }
  .Shop .scroll .header {
    position: relative; }
    .Shop .scroll .header .tabs {
      position: relative; }

.main-slider {
  height: 19em;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  .main-slider .slider-slides {
    line-height: 19em; }
    .main-slider .slider-slides .slider-slide {
      line-height: inherit;
      width: 100%;
      height: inherit;
      background: #fff; }
      .main-slider .slider-slides .slider-slide .img {
        width: 100%;
        height: inherit;
        background: url("../img/run.jpg") center center no-repeat;
        background-size: contain; }
        .main-slider .slider-slides .slider-slide .img.walk {
          background: url("../img/walk.jpg") center center no-repeat;
          background-size: contain; }
        .main-slider .slider-slides .slider-slide .img.cas {
          background: url("../img/cas.jpg") center center no-repeat;
          background-size: contain; }

.liked-cat {
  width: 100%;
  text-align: center; }
  .liked-cat .liked-item {
    width: 33.3333%;
    text-align: center;
    display: inline-block;
    background-color: #fff; }
    .liked-cat .liked-item.most {
      box-sizing: border-box;
      border-left: 1px solid grey;
      border-right: 1px solid grey; }
      .liked-cat .liked-item.most div.img {
        background: url("../img/liked-2.png") center center no-repeat;
        background-size: 100%; }
    .liked-cat .liked-item.sale div.img {
      background: url("../img/liked-3.png") center center no-repeat;
      background-size: 85%; }
    .liked-cat .liked-item div.img {
      background: url("../img/liked-1.png") center center no-repeat;
      background-size: 100%;
      width: 5em;
      height: 6.3em;
      display: inline-block; }
    .liked-cat .liked-item p {
      text-align: center; }

.liked-slider {
  height: 18em;
  width: 100%;
  background-color: #fff;
  margin: .6em 0; }
  .liked-slider .slider-header {
    height: 3em;
    line-height: 3em;
    margin: 0;
    text-align: center; }
  .liked-slider .scrolling {
    height: 15em;
    text-align: left;
    width: 250%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; }
    .liked-slider .scrolling div.thing {
      height: 100%;
      display: inline-block;
      margin: 0 0 0 .6em;
      overflow: hidden; }
      .liked-slider .scrolling div.thing div.img {
        background: url("../img/slider1.jpg") center center no-repeat;
        background-size: 100% 100%;
        width: 7em;
        height: 11em; }

.tile-slider {
  width: 100%;
  height: 30em;
  background-color: #fff;
  margin-bottom: .6em; }
  .tile-slider .slider-header {
    height: 3em;
    line-height: 3em;
    margin: 0;
    text-align: center; }
  .tile-slider div.wrapper {
    height: 27em; }
    .tile-slider div.wrapper div.thing {
      height: 30%;
      display: inline-block;
      margin: .3em;
      overflow: hidden;
      background: url("../img/slider1.jpg") center center no-repeat;
      background-size: 100% 100%;
      width: 7em; }
      .tile-slider div.wrapper div.thing.link {
        background: #fff;
        text-align: center;
        position: relative;
        border: 1px solid dimgrey; }
        .tile-slider div.wrapper div.thing.link span {
          border: 1px solid dimgrey;
          background: #000;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 40px;
          height: 40px;
          border-radius: 41px; }

.category-content .by-cat-btn {
  margin: .6em;
  width: 90%;
  background-color: #fff;
  border: 1px solid rgba(155, 155, 155, 0.33); }

.category-popover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: #e4e4e4;
  margin: 0 !important; }
  .category-popover div.popover-arrow {
    display: none; }
  .category-popover button.close-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    z-index: 5;
    position: absolute; }
  .category-popover ul.category-list {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 50px 0; }
    .category-popover ul.category-list li.cat-item {
      text-align: center;
      font-size: 40px;
      height: 2em;
      line-height: 2em; }

.filter-popover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: #e4e4e4;
  margin: 0 !important; }
  .filter-popover div.popover-arrow {
    display: none; }
  .filter-popover div.nav-panel {
    height: 3.8em;
    text-align: center;
    line-height: 3.8em;
    position: relative;
    border-bottom: 1px solid grey;
    background: #fff; }
    .filter-popover div.nav-panel button.close-btn {
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      left: 4px; }
      .filter-popover div.nav-panel button.close-btn:before {
        font-size: 24px; }
    .filter-popover div.nav-panel span.title {
      font-size: 20px; }
    .filter-popover div.nav-panel span.reset {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 8px;
      font-size: 10px; }
  .filter-popover div.body {
    position: absolute;
    top: 3.8em;
    bottom: 4em;
    background: #fff;
    width: 100%;
    border-bottom: 2px solid grey; }
  .filter-popover div.footer {
    position: absolute;
    height: 4em;
    bottom: 0;
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 2%; }
    .filter-popover div.footer button.button {
      width: 100%;
      height: 100%;
      min-height: inherit; }

.sort-popover {
  top: initial;
  left: 0;
  right: 0;
  bottom: 0;
  height: initial;
  width: 100%;
  opacity: 1;
  background: #e4e4e4;
  margin: 0 !important; }
  .sort-popover ul.list {
    margin: 0; }
  .sort-popover div.popover-arrow {
    display: none; }
  .sort-popover div.nav-panel {
    height: 3em;
    text-align: center;
    line-height: 3em;
    position: relative;
    border-bottom: 1px solid grey;
    background: #fff; }
    .sort-popover div.nav-panel button.close-btn {
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      left: 4px; }
      .sort-popover div.nav-panel button.close-btn:before {
        font-size: 24px; }
    .sort-popover div.nav-panel span.title {
      font-size: 20px; }

.showcase .items-list {
  width: 100%; }

.case-item {
  width: 50%;
  margin: .3em 0 0 0;
  float: left;
  text-align: center;
  border-bottom: 1px solid rgba(230, 221, 221, 0.87); }
  .case-item div.img {
    display: inline-block;
    height: 9em;
    width: 80px;
    background: url("../img/slider1.jpg") center center no-repeat;
    background-size: 100% 100%; }
  .case-item span {
    display: block; }

.Showcase-tab .filter {
  height: 4em;
  width: 100%;
  border-bottom: 1px solid black; }
  .Showcase-tab .filter div {
    height: 100%;
    float: left;
    line-height: 4em;
    text-align: center; }
  .Showcase-tab .filter div.box:nth-child(1) {
    background: dodgerblue;
    width: 15%;
    border-right: 1px solid black; }
  .Showcase-tab .filter div.box:nth-child(2) {
    width: 30%;
    border-right: 1px solid black; }
  .Showcase-tab .filter div.box:nth-child(3) {
    width: 25%;
    border-right: 1px solid black; }
  .Showcase-tab .filter div.box:nth-child(4) {
    width: 30%; }

.me-tabs {
  font-size: 0; }
  .me-tabs .link {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-top: 20px; }
    .me-tabs .link:first-child {
      border-right: 1px solid #ccc; }
    .me-tabs .link i {
      font-size: 20px; }
    .me-tabs .link p {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700; }

.like-list > p {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700; }

.contact {
  padding: .5em;
  border: 1px solid #ccc; }
  .contact button {
    display: block;
    width: 100%;
    padding: .6em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500; }

.brand-item {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-size: 0; }
  .brand-item .img {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    display: inline-block; }
  .brand-item .text {
    display: inline-block;
    vertical-align: top;
    padding-left: 1.5em;
    font-size: 14px; }
    .brand-item .text p {
      font-weight: 700; }
    .brand-item .text span {
      color: #5e6060; }
  .brand-item .follow-button {
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-right: 0.5em;
    padding-top: 0.8em;
    font-size: 12px; }
    .brand-item .follow-button i {
      font-size: 18px; }

.label {
  padding: 10px;
  text-align: left;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 700; }

.Settings .link {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #eee; }

.Settings .logout {
  margin-top: 50px;
  padding: 10px; }
  .Settings .logout button {
    display: block;
    width: 100%;
    padding: .6em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500; }
