.Shop .scroll {
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2); }
  .Shop .scroll .header {
    height: 3em;
    position: relative; }
    .Shop .scroll .header .tabs {
      position: relative; }
  .Shop .scroll .by-cat-btn {
    margin: 1em;
    width: 90%; }

.main-slider {
  height: 19em;
  border: 2px solid grey;
  background: rgba(0, 0, 0, 0.7);
  text-align: center; }
  .main-slider .slider-slides {
    line-height: 19em; }
    .main-slider .slider-slides .slider-slide {
      line-height: inherit; }

.liked-cat {
  width: 100%;
  text-align: center; }
  .liked-cat .liked-item {
    width: 33.3333%;
    text-align: center;
    display: inline-block;
    background-color: #fff; }
    .liked-cat .liked-item.most {
      box-sizing: border-box;
      border-left: 1px solid grey;
      border-right: 1px solid grey; }
      .liked-cat .liked-item.most div.img {
        background: url("../img/liked-2.png") center center no-repeat;
        background-size: 100%; }
    .liked-cat .liked-item.sale div.img {
      background: url("../img/liked-3.png") center center no-repeat;
      background-size: 100%; }
    .liked-cat .liked-item div.img {
      background: url("../img/liked-1.png") center center no-repeat;
      background-size: 100%;
      width: 4em;
      height: 5.5em;
      display: inline-block; }
    .liked-cat .liked-item p {
      text-align: center; }
