<ion-view view-title="MY BRANDS" class="Brands">
  <ion-content>
    <ion-scroll direction="x">
      <div class="brand-header">
        <div class="thing"  ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
        <div class="thing" ng-click="toBrand()">
          <div class="img"></div>
        </div>
      </div>
    </ion-scroll>
    <span class="update">LATEST UPDATES</span>
    <product-container></product-container>
    <product-container></product-container>
    <product-container></product-container>
    <liked-slider></liked-slider>
    <liked-slider></liked-slider>
    <product-container></product-container>
    <product-container></product-container>
    <liked-slider></liked-slider>
  </ion-content>
</ion-view>
