<ion-view view-title="MY BRANDS" class="Brands">
  <ion-content>
    <ion-scroll direction="y">
      <div class="container">
        <div class="content">
        <div class="title">Start following</div>
        <div class="post-title">
          <p>Get started by following some of the top brands.</p>
          <brand-block ng-repeat="brand in brands track by $index"></brand-block>
        </div>
        </div>
      </div>
      <brand-list items="brands" goTo="goToBrand" goToFollowPage="goToBrandFollowPage"></brand-list>
      <div class="line-title">
        <span>Latest updates</span>
        <product-recommend
          ng-repeat="brand in brandsSales" ng-click="goToBrand(brand.id)" widget="brand"></product-recommend>
        <!--<brand-picture ng-repeat="brand in brandsNew" brand="brand" ng-click="openbrandPopover(brand.id)"></brand-picture>
        <brand-slider widget="{{brandsNew}}"></brand-slider>
        <product-slider></product-slider>
        <brand-picture2 ng-click="openbrandPopover()"></brand-picture2>
        <product-recommend ng-click="goToBrand()" widget="widget"></product-recommend>
        <brand-follow  ng-click="goToBrand()" widget="widget"></brand-follow>

        <img src="./../img/uniqlo.jpg" width="100%" height="auto" alt="">-->

      <div>
      </div>
      </div>
    </ion-scroll>
  </ion-content>
  <div class="button button-done" ng-click="update()">Done</div>
</ion-view>
